In [ ]:
import pandas as pd
import scipy as sc
import numpy as np

In [ ]:
df = pd.read_csv('Marvel full Dataframe.csv', low_memory = False)
df.shape

In [ ]:
df = pd.read_csv('Marvel full Dataframe.csv', low_memory = False)
## drops column that added by the 'read_csv' call
df.drop(labels = 'Unnamed: 0',axis = 1, inplace = True)

## drops all duplicates
df.drop_duplicates(inplace = True, ignore_index = True)

## drop empty rows
df.dropna(axis = 0, how = 'all',inplace = True)

## drops rows with 2 NA features
df.dropna(axis = 0, how ='any', thresh = 9 ,inplace= True)

df.shape

In [ ]:
df.fillna(method = 'ffill', axis = 0, inplace = True)

In [ ]:
df.head()

In [ ]:
df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
df.head()

In [ ]:
df.to_csv('Marvel Dataframe after drop and fill.csv')

In [ ]:
df = pd.read_csv('Marvel Dataframe after drop and fill.csv', low_memory = False)
df.drop(labels = 'Unnamed: 0',axis = 1, inplace = True)
df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
df.drop(labels = ['Unnamed: 12','Unnamed: 13','Unnamed: 14', ],axis = 1, inplace = True)
df

In [ ]:
df.to_csv('Marvel Dataframe after drop and fill2.csv')

In [ ]:
df.shape

In [ ]:
## drops all duplicates
df.drop_duplicates(inplace = True, ignore_index = True)

## drop empty rows
df.dropna(axis = 0, how = 'all',inplace = True)

## drops rows with 2 NA features
df.dropna(axis = 0, how ='any', thresh = 9 ,inplace= True)

df.shape

In [ ]:
df.fillna(method = 'ffill', axis = 0, inplace = True)
df

In [ ]:

df['Year'] = year
df

In [ ]:
year = df['Year']
for i, x in enumerate(year.tolist()):
    if x.isdigit() == False:
            year[i] = None

In [ ]:
df['Year'] = year

In [ ]:
df.to_csv('Marvel Dataframe after drop and fill4.csv')

In [ ]:
df = pd.read_csv('Marvel Dataframe after drop and fill4.csv', low_memory = False)
## drops column that added by the 'read_csv' call
df.drop(labels = 'Unnamed: 0',axis = 1, inplace = True)

## drops all duplicates
df.drop_duplicates(inplace = True, ignore_index = True)

## drop empty rows
df.dropna(axis = 0, how = 'all',inplace = True)

## drops rows with 2 NA features
df.dropna(axis = 0, how ='any', thresh = 9 ,inplace= True)

df.fillna(method = 'ffill', axis = 0, inplace = True)

df.shape

In [ ]:
appearnces = df['Appearnces']
for i, x in enumerate(appearnces.tolist()):
    if x.isdigit() == False:
            appearnces[i] = None
df['Appearnces'] = appearnces

In [ ]:
df['Appearnces'] = appearnces

In [ ]:
df.to_csv('Marvel Dataframe after drop and fill5.csv')
df.shape

In [ ]:
df = pd.read_csv('Marvel Dataframe after drop and fill5.csv', low_memory = False)
## drops column that added by the 'read_csv' call
df.drop(labels = 'Unnamed: 0',axis = 1, inplace = True)

## drops all duplicates
df.drop_duplicates(inplace = True, ignore_index = True)

## drop empty rows
df.dropna(axis = 0, how = 'all',inplace = True)

## drops rows with 2 NA features
df.dropna(axis = 0, how ='any', thresh = 9 ,inplace= True)

df.fillna(method = 'ffill', axis = 0, inplace = True)

df.shape

In [ ]:
df_sorted = df.sort_values(by =['Appearnces'])
df_sorted.drop_duplicates(subset=['Name'], keep='last', inplace=True, ignore_index=True)
df_sorted.sort_values(by =['Name'], inplace=True, ignore_index=True)
df_sorted

In [ ]:
df_sorted.to_csv('Marvel Dataframe after drop and fill7.csv')

In [ ]:
df = pd.read_csv('Marvel Dataframe after drop and fill7.csv', low_memory = False)
df.sort_values(by =['Name'], inplace=True, ignore_index=True)

In [ ]:
df.drop(labels = 'Unnamed: 0',axis = 1, inplace = True)

In [ ]:
gender_label = ['Male','Female']
gender = df['Gender']
for i,x in enumerate(gender.tolist()):
    if x not in gender_label:
        gender[i] = 'Other'
df['Gender'] = gender
df

In [ ]:
mstatus_labels = ['Divored', 'Married', 'Single', 'Widowed']
mstatus = df['Marital Status']
for i,x in enumerate(mstatus.tolist()):
    if x not in mstatus_labels:
        mstatus[i] = 'Other'
df['Marital Status'] = mstatus
df

In [ ]:
hair_color_labels = ['Bald', 'Black', 'Blond', 'Brown', 'Grey', 'No Hair At All', 'Red', 'White']
hair_color = df['Hair Color']
for i,x in enumerate(hair_color.tolist()):
    if x not in hair_color_labels:
        hair_color[i] = 'Other'
df['Hair Color'] = hair_color
df

In [ ]:
eye_color_labels = ['Black', 'Blue', 'Brown','Green', 'Grey', 'Hazel', 'Red', 'White', 'Yellow']
eye_color = df['Eye Color']
for i,x in enumerate(eye_color.tolist()):
    if x not in eye_color_labels:
        eye_color[i] = 'Other'
df['Eye Color'] = eye_color
df

In [ ]:
df2 = pd.get_dummies(df, prefix=['Gender'], prefix_sep='_', dummy_na=False, columns=['Gender'], sparse=False, drop_first=False, dtype=None)
df2

In [ ]:
df3 =  pd.get_dummies(df2, prefix=['M Status'], prefix_sep='_', dummy_na=False, columns=['Marital Status'], sparse=False, drop_first=False, dtype=None)
df3

In [ ]:
df4 =  pd.get_dummies(df3, prefix=['Hair C'], prefix_sep='_', dummy_na=False, columns=['Hair Color'], sparse=False, drop_first=False, dtype=None)
df4

In [ ]:
df5 =  pd.get_dummies(df4, prefix=['Eye C'], prefix_sep='_', dummy_na=False, columns=['Eye Color'], sparse=False, drop_first=False, dtype=None)
df5

In [ ]:
df6 =  pd.get_dummies(df5, prefix=['L status'], prefix_sep='_', dummy_na=False, columns=['Living status'], sparse=False, drop_first=False, dtype=None)
df6

In [ ]:
df7 =  pd.get_dummies(df6, prefix=['Identity'], prefix_sep='_', dummy_na=False, columns=['Identity'], sparse=False, drop_first=False, dtype=None)
df7

In [ ]:
citizen_labels = ['American', 'Asgardian', 'British', 'Canadian', 'German', 'Japanese']
citizen = df7['Citenzenship']
for i,x in enumerate(citizen.tolist()):
    if x not in citizen_labels:
        citizen[i] = 'Other'
df7['Citenzenship'] = citizen
df7

In [ ]:
reality_label = ['Earth-616','Earth-199999','Earth-928','Earth-1610']
reality = df7['Reality']
for i,x in enumerate(reality.tolist()):
    if x not in reality_label:
        reality[i] = 'Other'
df7['Reality'] = reality
df7

In [ ]:
df8 = pd.get_dummies(df7, prefix=['Reality'], prefix_sep='_', dummy_na=False, columns=['Reality'], sparse=False, drop_first=False, dtype=None)
df8

In [ ]:
df9 = pd.get_dummies(df8, prefix=['Citenzenship'], prefix_sep='_', dummy_na=False, columns=['Citenzenship'], sparse=False, drop_first=False, dtype=None)
df9.to_csv('Marvel Dataframe after drop and fill8.csv')

In [219]:
df8.describe()

,Year,Appearnces,Gender_Female,Gender_Male,Gender_Other,M Status_Married,M Status_Other,M Status_Single,M Status_Widowed,Hair C_Bald,...,L status_Deceased,Identity_Known to Authorities,Identity_No Dual,Identity_Public,Identity_Secret,Reality_Earth-1610,Reality_Earth-199999,Reality_Earth-616,Reality_Earth-928,Reality_Other
count,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,...,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000,24504.000000
mean,1991.670421,13.477432,0.294891,0.698661,0.006448,0.195274,0.033872,0.719474,0.051379,0.053257,...,0.271507,0.009468,0.664218,0.131978,0.194336,0.015712,0.027261,0.733758,0.012855,0.210415
std,40.648352,82.139707,0.456003,0.458849,0.080041,0.396420,0.180903,0.449265,0.220775,0.224549,...,0.444746,0.096843,0.472273,0.338474,0.395696,0.124360,0.162846,0.442001,0.112651,0.407611
min,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1980.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1995.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,2009.000000,6.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,2022.000000,4199.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000