In [494]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import linear_model, metrics, preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.metrics import r2_score, f1_score, accuracy_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

#and visualization setup
import matplotlib.pyplot as plt
%matplotlib inline  
plt.rcParams['figure.figsize'] = (10, 6)

from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import TimeSeriesSplit,cross_val_score, GridSearchCV

In [508]:
df = pd.read_csv('Marvel Dataframe after drop and fill11.csv')
for col in df.columns:
    if 'Name' in col:
        df.drop(columns = col, inplace=True)
df

,Year,Appearnces,Gender_Male,Gender_Other,M Status_Single,Hair C_Blond,Hair C_Brown,Hair C_Other,Eye C_Brown,Eye C_Other,L status_Deceased,Identity_Other,Identity_Secret,Reality_Other,Citenzenship_Other
0,2008,10,1,0,1,1,0,0,0,0,0,1,0,1,0
1,1968,1119,1,0,0,0,0,1,0,1,0,0,0,0,0
2,1999,44,1,0,0,0,0,1,0,1,0,0,1,1,0
3,2015,111,1,0,1,0,0,0,1,0,0,0,0,1,1
4,1972,65,1,0,0,0,0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,2004,15,0,0,0,0,0,0,1,0,1,1,0,0,1
5271,1987,9,1,0,0,0,0,1,0,1,0,0,0,0,1
5272,1973,26,0,1,1,0,0,1,0,1,0,0,0,0,1
5273,1977,33,1,0,0,0,0,0,0,1,0,1,0,0,1
5274,1990,109,0,0,1,0,0,0,1,0,0,0,1,0,0

In [509]:
def split_to_train_and_test(X, y, test_ratio, rand_state):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_ratio, random_state=rand_state)
    return X_train, X_test, y_train, y_test

In [510]:
categorys_to_predict = ['Appearnces']


X = df.drop(columns = categorys_to_predict)
y = df[categorys_to_predict]

In [511]:
X_train, X_test, y_train, y_test = split_to_train_and_test(X, y, 0.3, 35)

In [512]:
X_train,y_train,X_test,y_test

(      Year  Gender_Male  Gender_Other  M Status_Single  Hair C_Blond  \
 67    2004            0             0                1             0
 2102  2012            0             0                1             0
 3583  2010            0             0                1             0
 4552  2005            0             0                1             1
 4133  1971            1             0                1             1
 ...    ...          ...           ...              ...           ...
 2792  1962            1             0                1             0
 3321  1972            0             0                0             0
 3007  1972            0             0                1             0
 951   1970            1             0                0             0
 1295  1984            1             0                0             0

       Hair C_Brown  Hair C_Other  Eye C_Brown  Eye C_Other  L status_Deceased  \
 67               0             0            1            0                  1
 2102             1             0            1            0                  0
 3583             0             1            0            1                  0
 4552             0             0            0            1                  0
 4133             0             0            0            1                  0
 ...            ...           ...          ...          ...                ...
 2792             0             1            0            1                  0
 3321             1             0            0            1                  0
 3007             0             0            0            0                  0
 951              0             0            0            0                  0
 1295             1             0            0            0                  0

       Identity_Other  Identity_Secret  Reality_Other  Citenzenship_Other
 67                 0                1              0                   0
 2102               0                1              0                   1
 3583               0                1              1                   1
 4552               0                1              0                   1
 4133               0                0              0                   1
 ...              ...              ...            ...                 ...
 2792               0                0              0                   1
 3321               0                0              0                   1
 3007               0                0              0                   0
 951                0                0              0                   1
 1295               0                0              0                   0

 [3692 rows x 14 columns],
       Appearnces
 67            23
 2102          61
 3583          15
 4552           8
 4133          35
 ...          ...
 2792          77
 3321           8
 3007          14
 951          733
 1295          59

 [3692 rows x 1 columns],
       Year  Gender_Male  Gender_Other  M Status_Single  Hair C_Blond  \
 2602  1990            0             0                1             0
 3424  1945            0             0                1             1
 4315  2015            0             0                1             0
 131   1991            0             0                0             1
 1845  2005            1             0                1             0
 ...    ...          ...           ...              ...           ...
 4631  2004            1             0                1             1
 1852  1983            1             0                1             0
 2688  2005            0             0                1             1
 4425  1968            0             0                1             0
 4223  1980            1             0                1             0

       Hair C_Brown  Hair C_Other  Eye C_Brown  Eye C_Other  L status_Deceased  \
 2602             0             0            0            1                  0
 3424             0             0            0            0                  0
 4315             0             0            1            0                  0
 131              0             0            0            0                  0
 1845             1             0            0            0                  0
 ...            ...           ...          ...          ...                ...
 4631             0             0            0            0                  0
 1852             1             0            1            0                  1
 2688             0             0            0            0                  0
 4425             0             0            0            0                  0
 4223             1             0            0            0                  1

       Identity_Other  Identity_Secret  Reality_Other  Citenzenship_Other
 2602               0                0              0                   0
 3424               0                0              0                   0
 4315               1                0              1                   0
 131                0                1              0                   0
 1845               1                0              0                   0
 ...              ...              ...            ...                 ...
 4631               0                0              0                   0
 1852               1                0              0                   0
 2688               0                1              1                   0
 4425               0                1              0                   1
 4223               0                1              0                   0

 [1583 rows x 14 columns],
       Appearnces
 2602          28
 3424         389
 4315          10
 131           21
 1845          53
 ...          ...
 4631          12
 1852          14
 2688          44
 4425          55
 4223          26

 [1583 rows x 1 columns])

In [513]:
# Predicting Using the trained linear regression model:

model = LinearRegression().fit(X_train, y_train)

In [514]:
# Arranging predicted data sides to actual data:
predicted_results = model.predict(X_test)

predicted = []

for result in predicted_results:
    predicted.append(int(result[0]))
    
df_result = pd.DataFrame(columns=['ACTUAL','PREDICTED'])
                              
df_result['ACTUAL'] = y_test['Appearnces']
                              
df_result['PREDICTED'] = predicted

# Displaying results:
df_result

      ACTUAL  PREDICTED
2602      28         42
3424     389        133
4315      10         54
131       21         98
1845      53         99
...      ...        ...
4631      12         37
1852      14         87
2688      44         32
4425      55         90
4223      26         46

[1583 rows x 2 columns]

In [515]:
# Calculating the R^2 error of the prediction:

print(f"R^2 score : {round(sklearn.metrics.r2_score(df_result['ACTUAL'], df_result['PREDICTED']) ,4) }")

R^2 score : 0.0821